<section>
  <h2>Comments</h2>
  <% @post.comments.each do |comment| %>
    <h4><%= comment.text %></h4>
    <%if current_user.present? && current_user.id = @user.id %>
      <%= button_to "Delete", post_comment_delete_url(@user, @post, comment), method: :delete, class: "btn btn-danger" %>
    <% end %>
    <hr/>
  <% end %>
  <%= link_to "Post comment", new_comment_path %>
  <%= link_to "Back", posts_path %>
</section>
